/* *************
Light Blue #03A9F4
100 Blue Grey #CFD8DC
Dark Blue Gray #263238


**************** */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

*{
  box-sizing: border-box;
}

ul,li,a{
  text-decoration: none;
}

body{
  background-color:#eee;
  font-family: 'Roboto', sans-serif;
}

/*****HEADER *****/
header{
 width: 100%;
 display:flex;
 flex-direction: row;
 align-items: center;
}

header h1{
  margin-right: auto;
  margin-left:10%;
  font-family: 'Roboto', sans-serif;
  font-size:2.5em;
  font-weight: 100;
}

header button{
  margin-right:10%;
  height:50px;
  border:2px ridge white;
  background-color: #0277BD;
  border-radius:10% 30%;
  color:white;
  transition:.5s;
}

header button a, header button a:visited{
  color: white;
}

header button:hover{
  opacity:.8;
  border-radius:30% 10%;
  background-color:green;
}

.subNav{
  width:100%;
  display:flex;
  background-color:#424242;
}

hr{
  margin:0;
  padding:0;
}

.subNav a{
  margin-left: auto;
  margin-right: 10%;
  padding:5px;
  color:white;
  opacity: .83;
  }

.subNav a:hover{
  opacity:1;
}

/*****Footer *****/
footer{
  padding-top:40px;
  clear:both;
}

footer p{
  margin-left: 5%;
}


/*****HOME PAGE *****/
.Container{
  width:90%;
  margin:0 auto;
  margin-top:2em;
}

.Container h1{
  font-weight: 100;

}

#Filter{
  display: flex;
  align-items: center;
  margin-right: 10%;
}

#Filter h1{
  margin-right: auto;
}

#Filter p{
  margin-right: 10px;
}

.Cards{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
}

.itemCard{
  background-color:#01579B;
  /*flex-grow:1;*/
  width:29%;
  height: 400px;
  margin:20px;
  color:white;
  border-radius: 10%;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
}

.imageWrap{
  width:100%;
  height:200px;
  overflow:hidden;
  background:black;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border:2px solid black;
  border-bottom:4px solid black;
}

.cardImage{
  width:100%;
}

.cardTitle{
  text-align: center;
}

.cardInfo{
  margin-left:20px;
  margin-right: 20px;
  opacity:.9;
}

.cardSourceSite{
  float:left;
  color:white;
  text-decoration: underline;
  opacity:.83;
}

.cardMoreDetails{
  float:right;
  color:white;
  text-decoration: underline;
  opacity:.83;
}

.cardMoreDetails:hover, .cardSourceSite:hover{
  opacity:1;
}

/*****DETAILS PAGE *****/

.detailsImage{
  margin:0;
  padding:0;
  width:40%;
  float:left;
  background-color: black;
  -webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.75);
}

.detailsImage img{
  width:100%;
  height: fill;
  clear:both;
}

.detailsCard{
  width:50%;
  float:right;
}

.detailTitle{
  text-align: center;
}

/*****Admin Dashboard Page *****/
#AdminTable tr:nth-child(even){
  background-color:#ddd;
}

#AdminTable td{
  padding:10px;
}

#AdminTable a{
  color:white;
}

.editButton{
  width:100%;
  margin:5px;
  padding:5px;
  background-color:#FF9800;
  transition:.2s;
}

.editButton:hover{
  background-color:#EF6C00;
}

.deleteButton{
  width:100%;
  margin:5px;
  padding:5px;
  background-color:#B71C1C;
  transition:.1s;
}

.deleteButton:hover{
  background-color:red;
}

.addButton{
  background-color:#689F38;
  border-radius: 10px;
  margin-right: auto;
  padding:5px 15px;
}

.addButton a, .addButton a:visited{
  color:white;
}

.addButton:hover{
  background-color: #8BC34A;
}
